wApiMobileForCache/Service References/wsIngresosDiarios/WebServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:s0="http://tempuri.org" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tempuri.org" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org">
      <s:element name="SetFichada">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pIde" type="s:string" />
            <s:element minOccurs="0" name="pFecha" type="s:long" />
            <s:element minOccurs="0" name="pHora" type="s:string" />
            <s:element minOccurs="0" name="pTipMov" type="s:long" />
            <s:element minOccurs="0" name="pRelojId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFichadaResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="SetFichadaResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DataSet">
        <s:sequence>
          <s:element ref="s:schema" />
          <s:any />
        </s:sequence>
      </s:complexType>
      <s:element name="SetFichadaByDocumento">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pDni" type="s:long" />
            <s:element minOccurs="0" name="pFecha" type="s:long" />
            <s:element minOccurs="0" name="pHora" type="s:string" />
            <s:element minOccurs="0" name="pTipMov" type="s:long" />
            <s:element minOccurs="0" name="pRelojId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetFichadaByDocumentoResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="SetFichadaByDocumentoResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetIngresoAndroid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" name="pLeg" type="s:string" />
            <s:element minOccurs="0" name="pDni" type="s:long" />
            <s:element minOccurs="0" name="pMov" type="s:string" />
            <s:element minOccurs="0" name="pTipMov" type="s:long" />
            <s:element minOccurs="0" name="pLat" type="s:decimal" />
            <s:element minOccurs="0" name="pLon" type="s:decimal" />
            <s:element minOccurs="0" name="pNroTel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetIngresoAndroidResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="SetIngresoAndroidResult" type="s0:DataSet" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetFichadaSoapIn">
    <wsdl:part name="parameters" element="s0:SetFichada" />
  </wsdl:message>
  <wsdl:message name="SetFichadaSoapOut">
    <wsdl:part name="parameters" element="s0:SetFichadaResponse" />
  </wsdl:message>
  <wsdl:message name="SetFichadaByDocumentoSoapIn">
    <wsdl:part name="parameters" element="s0:SetFichadaByDocumento" />
  </wsdl:message>
  <wsdl:message name="SetFichadaByDocumentoSoapOut">
    <wsdl:part name="parameters" element="s0:SetFichadaByDocumentoResponse" />
  </wsdl:message>
  <wsdl:message name="SetIngresoAndroidSoapIn">
    <wsdl:part name="parameters" element="s0:SetIngresoAndroid" />
  </wsdl:message>
  <wsdl:message name="SetIngresoAndroidSoapOut">
    <wsdl:part name="parameters" element="s0:SetIngresoAndroidResponse" />
  </wsdl:message>
  <wsdl:portType name="IngresosDiariosSoap">
    <wsdl:operation name="SetFichada">
      <wsdl:input message="s0:SetFichadaSoapIn" />
      <wsdl:output message="s0:SetFichadaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetFichadaByDocumento">
      <wsdl:input message="s0:SetFichadaByDocumentoSoapIn" />
      <wsdl:output message="s0:SetFichadaByDocumentoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetIngresoAndroid">
      <wsdl:input message="s0:SetIngresoAndroidSoapIn" />
      <wsdl:output message="s0:SetIngresoAndroidSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IngresosDiariosSoap" type="s0:IngresosDiariosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetFichada">
      <soap:operation soapAction="http://tempuri.org/WebServices.IngresosDiarios.SetFichada" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetFichadaByDocumento">
      <soap:operation soapAction="http://tempuri.org/WebServices.IngresosDiarios.SetFichadaByDocumento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetIngresoAndroid">
      <soap:operation soapAction="http://tempuri.org/WebServices.IngresosDiarios.SetIngresoAndroid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IngresosDiarios">
    <wsdl:port name="IngresosDiariosSoap" binding="s0:IngresosDiariosSoap">
      <soap:address location="http://200.49.156.125:57772/csp/shaman/WebServices.IngresosDiarios.cls" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>